# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The hosting URL where this applet is deployed.
APP_URL="MY_APP_URL"

# --- SUPABASE / POSTGRES CONFIGURED VARIABLES ---
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="db.rbiocdvbkmtpwejqvlps.supabase.co"
POSTGRES_PASSWORD=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER="postgres"
SUPABASE_ANON_KEY=""
SUPABASE_JWT_SECRET=""
VITESUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_URL="https://rbiocdvbkmtpwejqvlps.supabase.co"
VITESUPABASE_ANON_KEY=""
VITESUPABASE_PUBLISHABLE_KEY=""
VITESUPABASE_URL="https://rbiocdvbkmtpwejqvlps.supabase.co"
